---
// src/pages/index.astro
import Layout from './Layout.astro';
import Navbar from '../shared/components/layouts/Navbar.astro';
import Hero from '../components/Hero.astro';
import Footer from '../shared/components/layouts/Footer.astro';
import categories from '../data/categories';
import { getWinners } from '../lib/voting';

// 1. OBTENER GANADORES (Lógica Server-Side)
const EVENT_ID_2025 = '856a7c16-5436-4776-a844-04dcaafb4656'; // Tu UUID Real
const winnersData = await getWinners(EVENT_ID_2025);

// Helper para imágenes
const getOptimizedUrl = (url: string) => {
  if (!url) return "/img/lag_uconstr_placeholder.png";
  if (url.includes("res.cloudinary.com")) {
    // Pedimos una versión más pequeña (300px) para que cargue rápido en la home
    return url.replace("/upload/", "/upload/w_300,f_auto,q_auto/");
  }
  return url;
};

// Mapear ganadores
const winnersCompact = categories.map(cat => {
    const winnerInfo = winnersData.find((w: any) => w.category_id === cat.id);
    if (!winnerInfo) return null; 
    const nomineeDetails = cat.nominees.find(n => n.name === winnerInfo.nominee_name);
    
    return {
        category: cat,
        winnerName: winnerInfo.nominee_name,
        details: nomineeDetails || { image: '/img/tl_logo.png' }
    };
}).filter(item => item !== null);
---

<Layout 
  title="TeamLag - Pagina Oficial del Team LAG" 
  description="Pagina Oficial del Team LAG, comunidad de creadores de contenido en español. Descubre nuestros proyectos, eventos y más."
  image="https://res.cloudinary.com/dkjaq3i9p/image/upload/v1765641379/TAREX_REND_TREEF_kqshzr.jpg"
>
    <Navbar />
    
    <main class="bg-[#050505] min-h-screen">
        <Hero />

      

    </main>
    <Footer />
</Layout>